header {
    width: 100%;
    padding: 0;
    margin: 0;
}

footer {
    width: 100%;
    padding: 0;
    margin: 0;
}

#dropdownButton{
    border-radius: 30px;
}

.text-truncate-modal {
    max-width: 200px !important;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

main.content { 
    height: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 10px;
    min-height: auto;
    flex: 1;
}

tbody td {
    vertical-align: middle;
}

.badge-custom {
    display: inline-flex;
    align-items: center;
    gap: 6px;

    padding: 6px 12px;
    border-radius: 50px; 

    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.5px;

    border: 1px solid transparent;
}


.badge-aprobado {
    background-color: rgba(25, 132, 82, 0.1);
    color: #198452;
    border-color: rgba(25, 132, 82, 0.3);
}


.badge-en-curso {
    background-color: rgba(255, 193, 7, 0.15);
    color: #b58100;
    border-color: rgba(255, 193, 7, 0.4);
}


.badge-cancelado {
    background-color: rgba(220, 53, 69, 0.1);
    color: #dc3545;
    border-color: rgba(220, 53, 69, 0.3);
}


.badge-finalizado {
    background-color: rgba(18, 98, 219, 0.1);
    color: #1262db;
    border-color: rgba(18, 98, 219, 0.3);
}

.badge-default {
    background-color: #6c757d;
    color: #ffffff;
}